<div class="doc_name">
    <h3>Customer</h3>

</div>
<div class="type Secondary-text">Document File</div>

<div class="information_doc">

    @{
        
        <div class="Secondary-text title">Customer </div>
        foreach (var item in ViewBag.Cust_name)
        {
           <div class="doc_rev data-text">@item</div>
        }
        
                <div class="Secondary-text title">File </div>
        foreach (var item in ViewBag.file_name)
        {
           <div class="doc_rev data-text"> <a href="@Url.Content(item)">@Path.GetFileName(item)</a></div>

        }
        
    }

</div>

