<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card shadow-2">
            <div class="card-title">
                New Document
            </div>
            <div class="card-body">

                <form data-toggle="validator" id="myForm" role="form">

                    <div class="form-group has-feedback">
                        <label for="inputName" class="control-label">Customer</label>
                        <select id="txt_c" style="width: 100%" name="customer" class="form-control" multiple="multiple" required>
                        </select>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        @*<div class="help-block with-errors">Hey look, this one has feedback icons!</div>*@
                    </div>

                    <div class="form-group has-feedback">
                        <label class="control-label">Document name</label>
                        <input type="text" class="form-control" name="doc_name" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>


                    <div class="form-group has-feedback">
                        <label class="control-label">Document number</label>
                        <input type="text" value='' class="form-control" name="doc_no" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="control-label">Document Revision</label>
                        <input type="text" value='' class="form-control" name="doc_rev" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="control-label">Receive from customer date</label>
                        <input type="text" value='' class="form-control " name="date_rec" id="date_re" readonly required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="control-label">TNC product name</label>
                        <input type="text" value='' class="form-control" name="tnc_product" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="form-group has-feedback row_doc_file">
                        <label class="control-label">Document File</label>
                        <input type="file" id="first" value='' name="doc_file" class="" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <div class="doc_after">

                    </div>

                   @* <div class="form-group has-feedback ">
                        <input type="file" value='' name="doc_file" class="" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>*@

                    <div class="row">
                        <div class="col-md-3 ">
                        </div>
                        <div class="col-md-3 ">
                        </div>


                        <div class="col-md-3 ">
                            <button type="submit" id="btn-core" class="btnSave btn nohover btn-primary  btn-block shadow-2">Save</button>

                        </div>

                        <div class="col-md-3">
                            <button type="button" id="add_doc_file" class="btn btn-default btn-block">Add More File</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                   @* <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-default">Add More File</button>
                    </div>*@
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var i = 0;
            $('#myForm').validator()

            $("#date_re").datepicker({ maxDate: '0', dateFormat: 'dd/mm/yy' });

            $("#txt_c").select2({
                theme: "bootstrap",
                placeholder: {
                    id: "0",
                    text: "Select a Customer"
                },
                minimumInputLength: 0,
                ajax: {
                    url: "@Url.Action("get_all_customer", "Home")",
                    type: "POST",
                    dataType: 'json',
                    data: function (params) {
                        //console.log(params)
                        return {
                            term: params.term
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data,

                        };
                    }

                }
            });

            $('#add_doc_file').on('click', function () {

                var str = "";
                i += 1;
                //str += "<div class='row  doc" + i + "'>";
                //str += "<div class='col-md-1'></div>";
                //str += "<div class='form-group col-md-10' >";
                //str += "<div class='input-group'>";
                //str += "<input type='file' value='' class='' name='doc_file' id='md-input' data-validate='required'>";
                //str += "<div class='input-group-btn'>";
                //str += "<button type='button' id='del_doc' data-del-no='" + i + "' class='btn btn-default btn-block'> <span class='glyphicon glyphicon-remove text-danger'></span></button>";
                //str += "</div>";
                //str += "</div>";
                //str += "</div>";
                //str += "<div class='col-md-1'>";
                //str += "</div>";
                //str += "</div>";

                str += "<div class='form-group has-feedback '>";
                str += "<input type='file' id='"+i+"' value='' name='doc_file' class='' required>";
                str += "<span class='glyphicon form-control-feedback' aria-hidden='true'></span></div>";

                $(".doc_after").before(str);
                $('#myForm').validator()
            })

        });
    </script>
}