

<style type="text/css">
body {
	background-color: #eeeeee;
	font: normal 11pt Trebuchet MS,Arial,sans-serif;
}



.rel {
	margin: 50px 0 0 33px;
	padding: 25px;
	position: relative;
	z-index: inherit;
	zoom: 1; /* For IE6 */
}

</style>




<div class="row">
    <div class="col-md-4">
      @*  <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>*@
    </div>
    <div class="col-md-4">
        <div class="card shadow-2">
            <div class="card-title">
                Login
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>
    </div>
    <div class="col-md-4">
       @* <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>*@
    </div>
</div>

@*<div class="row">
        <div class="col-md-9">
        <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>
    </div>
            <div class="col-md-3">
        <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-3">
        <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>
    </div>
            <div class="col-md-3">
        <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>
    </div>
                <div class="col-md-3">
        <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>
    </div>
                <div class="col-md-3">
        <div class="card shadow-2">
            <div class="card-title">
                Search
            </div>
            <div class="card-body">
                asdasd
            </div>
            <div class="card-footer">
                asdasd
            </div>
        </div>
    </div>
</div>*@